{% extends "base.html" %}

{% block title %}JokeTime{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="bg-image" style="
        background-image: url('static/james-lee-YmG-jLBgfS0-unsplash.jpg');
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    ">
    <div class="page-header">
        <h1>Welcome</h1>
    </div>
    </div>


</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}