{% extends "base.html" %}

{% block title %}Locations{% endblock %}

{%- block styles %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
{%- endblock styles %}

{% block page_content %}
<div class="container-fluid">
    <div class="page-header">
        <h1>It's Location Time!</h1>
    </div>
    <div>
        <div id="mapid"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
<script src="{{url_for('static', path='/js/locations.js')}}"></script>
{% endblock %}